@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
  }
  h1 {
    line-height: 1.5;
    font-weight: 700;
    @apply text-3xl;
  }
  h2 {
    line-height: 1.3;
    font-weight: 700;
    @apply text-2xl;
  }

  :root {
    font-size: 16px;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-zinc-400;
    border-radius: 0.25rem;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }

  code::-webkit-scrollbar {
    height: 6px;
  }
  code::-webkit-scrollbar-track {
    @apply bg-background3;
    border-radius: 0.25rem;
  }
}

@layer components {
  .article-body {
    @apply prose prose-lg prose-slate prose-invert prose-purple;

    @apply prose-p:font-medium prose-p:break-words  prose-h2:text-attention prose-a:text-attention prose-quoteless;

    @apply prose-pre:mt-0 prose-pre:p-0.5 prose-pre:border prose-pre:border-slate-500 prose-pre:rounded-lg prose-strong;

    @apply prose-code:bg-[#040109] prose-code:border prose-code:border-slate-800 prose-code:py-1 prose-code:rounded-md;
  }
}