<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - erickcestari.dev</title>

    <link rel="icon" href="/favicon.png" sizes="32x32" type="image/png">

    <link rel="preload" href="style.css" as="style">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
{{header}}

    <main id="main-content">
        <h2>Block not found. Are you sure this isn't an orphan?</h2>
    </main>

{{footer}}
</body>

</html>