name: Deploy

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - master

permissions: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: portfolio
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@823bd89e131d8d508129f9443cad5855e9ba96f0 # v1.2.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd /home/github/portfolio
            git fetch origin master
            git reset --hard origin/master
            cargo build --release
            sudo systemctl restart portfolio.service
